/* Estilos gerais do corpo da página */
body {
  color: white; /* Cor do texto */
  background-color: black; /* Cor de fundo */
  margin: 0; /* Remove a margem padrão do navegador */
  font-family: "Chakra Petch", sans-serif; /* Fonte personalizada */
}

/* Estilos para o cabeçalho */
header {
  border-bottom: 2px solid #2a7ae4; /* Borda inferior azul */
  padding: 20px;
  font-size: 32px;
  color: #2a7ae4; /* Cor do texto azul */
  text-align: center; /* Centraliza o texto do cabeçalho */
}

/* Estilos para a seção principal */
section {
  background-color: #b89cd5; /* Cor de fundo roxa */
  padding: 80px 0; /* Espaçamento interno superior e inferior */
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  flex-wrap: wrap; /* Permite que os itens quebrem a linha em telas pequenas */
}

/* Estilos para o container de texto */
.chamada-texto {
  margin-right: 5%;
  max-width: 500px; /* Limita a largura para melhor legibilidade em telas grandes */
  text-align: center;
}

/* Estilos para o título e parágrafo */
h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
}